<div id="<%= dom_id script %>" class="d-flex" style="height:100vh;" data-controller="turbo-frame-persistent-scroll">
  <%= form_with(model: script, class: "d-flex flex-column flex-fill m-3", data: { controller: "persistent-scroll", action: "persistent-scroll#savePosition" }) do |form| %>
    <div class="flex-grow-1 mb-auto d-flex flex-column">
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <details open>
            <summary>Exception Raised</summary>
            <div style="margin-top:1rem;margin-left:1rem;">
              <p class="font-monospace"><%= alert %></p>
            </div>
          </details>
        </div>
      <% end %>

      <%= form.text_area :text, class: "form-control font-monospace flex-fill", data: { persistent_scroll_target: "element" } %>
    </div>

    <div class="d-flex mt-3" style="gap:1rem;">
      <%= form.submit "Update", class: "btn btn-success flex-fill" %>

      <% if Doc.last.file.attached? %>
        <%= link_to "Download", rails_blob_path(Doc.last.file, disposition: 'attachment'), class: "btn btn-primary flex-fill" %>
      <% end %>
    </div>
  <% end %>
</div>
