<div id="<%= dom_id script %>" style="height:88vh">
  <%= form_with(model: script, class: "h-100") do |form| %>
    <div class="h-100">
      <%= form.text_area :text, class: "form-control h-100 font-monospace" %>
    </div>

    <div class="mt-3 row">
      <div class="col">
        <%= form.submit "Update", class: "btn btn-success w-100" %>
      </div>

      <% if Doc.last %>
        <div class="col">
          <%= link_to "Download", rails_blob_path(Doc.last.file, disposition: 'attachment'), class: "btn btn-dark w-100" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
